@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap");

body {
  background-color: #26272b;
  color: #f4f4f4;
}

.green {
  color: rgba(15, 184, 15, 0.881);
}

.red {
  color: rgba(208, 43, 43, 0.945);
}
